<div class="container">
  <div class="row my-3">
    <div class="col-md-3">
      <div class="text-center">
        <%= attachment_image_tag @user, :image, :fill, 150, 150, format: 'jpeg', fallback: "no_image.jpg", size: "150x150", class: "rounded-circle" %>
      </div>
      <div class="text-center mt-3">
        <%= link_to "投稿一覧をみる", posts_path, class: "text-dark" %>
      </div>
    </div>
    <div class="col-md-9">
      <div class="row mt-5">
        <h2 class="my-2"><%= @user.name %></h3>
        <%= link_to "ブックマーク", posts_path, class: "btn btn-success px-2 my-2 ml-auto" %>
        <%= link_to "情報の編集", edit_user_path(@user), class: "btn btn-success px-2 my-2 mx-3" %>
      </div>
      <div class="row my-3">
        <%= link_to following_user_path(@user.id), class: "text-dark" do %>
          フォロー<%= @user.following.count %>人
        <% end %>
        <%= link_to followers_user_path(@user.id), class: "text-dark ml-3" do %>
          フォロワー<%= @user.followers.count %>人
        <% end %>
      </div>
      <div class="row border border-dark rounded py-2 px-2 text-wrap text-break">
        <%= @user.introduction %>
      </div>
    </div>
  </div>

    <div class="row mt-5 mb-3 ml-4">
      <%= link_to my_page_users_path(month: @month.prev_month) do %>
        <i class="fas fa-chevron-circle-left fa-2x text-secondary"></i>
      <% end %>
      <h3 class="mx-3"><%= @month.year %>年<%= @month.month %>月の運動時間</h3>
      <%= link_to my_page_users_path(month: @month.next_month) do %>
        <i class="fas fa-chevron-circle-right fa-2x text-secondary"></i>
      <% end %>
    </div>
    <div class="row">
      <div class="graph">
        <%= column_chart @all_exercise_time, stacked: true, xtitle: "day of month", ytitle: "minutes", width: "800px" %>
      </div>
    </div>

</div>