<ul class="pl-0">
<% posts.each do |post| %>
  <!--ユーザー・ジャンル-->
  <div class="row mt-3">
    <!--current_ユーザーと他のユーザーでマイページとユーザーページへ分岐-->
    <% if post.user == current_user %>
      <%= link_to my_page_users_path, class: "css-text-decolate" do %>
        <%= attachment_image_tag post.user, :image, :fill, 50, 50, format: 'jpeg', fallback: "no_image.jpg", size: "50x50", class: "rounded-circle py-0 d-inline"%>
        <p class="mt-3 d-inline text-dark"><%= post.user.name %></p>
      <% end %>
    <% else %>
      <%= link_to user_path(post.user), class: "css-text-decolate" do %>
        <%= attachment_image_tag post.user, :image, :fill, 50, 50, format: 'jpeg', fallback: "no_image.jpg", size: "50x50", class: "rounded-circle py-0 d-inline"%>
        <p class="mt-3 d-inline text-dark"><%= post.user.name %></p>
      <% end %>
    <% end %>
    <!--[修正予定]ボタンではなくジャンルの一覧を表示するlink_toに変更予定-->
    <div class="btn btn-danger my-2 ml-auto mr-3 px-2"><%= post.genre %></div>
  </div>

  <!--投稿・画像・運動強度-->
  <%= link_to post_path(post.id), class: "css-text-decolate text-dark" do %>
  <div class="row border rounded mb-5">
    <div class="col-md-9">
      <p class="mt-1 ml-1 mb-4">
        <%= post.body.truncate(82) %>
      </p>
      <p class="mb-0 css-position-bottom">
        <%= post.exercise_intensity %> x <%= post.exercise_time %>分
      </p>
    </div>
    <div class="col-md-3 my-1">
      <% if post.post_image_id? %>
        <%= attachment_image_tag post, :post_image, format: 'jpeg',class: "img-fluid rounded" %>
      <% end %>
    </div>
  </div>
  <% end %>
<% end %>
</ul>