<div class="container">
  <div class="row mt-3">
    <div class="col-md-8">
      <% @posts.each do |post| %>
        <!--ユーザー・ジャンル-->
        <div class="row mt-3">
            <%= attachment_image_tag post.user, :image, :fill, 50, 50, format: 'jpeg', fallback: "no_image.jpg", size: "50x50", class: "rounded-circle text-nowrap py-0" %>
            <p class="mt-3"><%= post.user.name %></p>
            <!--[修正予定]ボタンではなくジャンルの一覧を表示するlink_toに変更予定-->
            <div class="btn btn-danger my-2 ml-auto mr-3 px-2"><%= post.genre %></div>
        </div>
        <!--投稿・画像・運動強度-->
        <div class="row border rounded">
          <div class="col-md-9">
            <div class="row">
              <%= post.body %>
            </div>
            <div class="row">
              <p class="mb-0 mt-3 ml-auto"><%= post.exercise_intensity %> x <%= post.exercise_time %>分</p>
            </div>
          </div>
          <div class="col-md-3">
            <% if post.post_image_id? %>
              <%= attachment_image_tag post, :post_image, :fill, 200,100, format: 'jpeg' %>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>

    <div class="col-md-4 my-3">
      <div class="row ml-0">
        検索部分
      </div>
      <p class="mt-3 mb-0">投稿</p>
      <div class="row ml-0">
        <%= form_with model: @post, local:true do |f| %>
          <%= f.text_area :body, :placeholder => "投稿内容を入力してください", size: "40x5" %></br>
          <%= f.label :genre, "ジャンル名", class: "mr-3 mt-2" %>
          <%= f.select :genre, Post.genres.keys, include_blank: "選択してください" %></br>
          <%= f.label :exercise_intensity, "運動量", class: "mr-3 mt-2" %>
          <%= f.select :exercise_intensity, Post.exercise_intensities.keys, include_blank: "選択してください" %>
          x
          <%= f.select :exercise_time, Post.exercise_times.keys %>分</br>
          <%= f.label :post_image, "画像", class: "mt-2"%></br>
          <%= f.attachment_field :post_image %></br>
          <div class="text-center">
            <%= f.submit "投稿", class: "btn btn-success px-3 py-1 my-3" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>