<div class="container">
  <div class="row mt-3">
    <div class="col-md-8">
      <% @posts.each do |post| %>
        <!--ユーザー・ジャンル-->
        <div class="row mt-3">
            <%= attachment_image_tag post.user, :image, :fill, 50, 50, format: 'jpeg', fallback: "no_image.jpg", size: "50x50", class: "rounded-circle text-nowrap py-0" %>
            <p class="mt-3"><%= post.user.name %></p>
            <!--[修正予定]ボタンではなくジャンルの一覧を表示するlink_toに変更予定-->
            <div class="btn btn-danger my-2 ml-auto mr-3 px-2"><%= post.genre %></div>
        </div>
        <!--投稿・画像・強度-->
        <div class="row border rounded">
          <div class="col-md-9">
            <div class="row">
              <%= post.body %>
            </div>
            <div class="row">
              <p class="mb-0 mt-3 ml-auto"><%= post.exercise_intensity %> x <%= post.exercise_time %>分</p>
            </div>
          </div>
          <div class="col-md-3">
            <% if post.post_image_id? %>
              <%= attachment_image_tag post, :post_image, :fill, 200,100, format: 'jpeg' %>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>

    <div class="col-md-4">
      <div class="row ml-0">
        検索部分
      </div>

      <div class="row ml-0">
        新規投稿部分
      </div>
    </div>
  </div>
</div>