<div class="container">
  <!--ユーザー部分-->
  <div class="row mx-3">
    <% if @post.user == current_user %>
      <%= link_to my_page_users_path, class: "css-text-decolate text-dark" do %>
        <%= attachment_image_tag @post.user, :image, :fill, 60, 60, format: 'jpeg', fallback: "no_image.jpg", size: "60x60", class: "rounded-circle text-nowrap py-0 mt-3" %>
        <font size="4" class="ml-3"><%= @post.user.name %></font>
      <% end %>
    <% else %>
      <%= link_to user_path(@post.user), class: "css-text-decolate text-dark" do %>
        <%= attachment_image_tag @post.user, :image, :fill, 60, 60, format: 'jpeg', fallback: "no_image.jpg", size: "60x60", class: "rounded-circle text-nowrap py-0 mt-3" %>
        <font size="4" class="ml-3"><%= @post.user.name %></font>
      <% end %>
    <% end %>
    <%= link_to "#{@post.genre}", posts_path(genre: @post.genre), class: "btn btn-danger my-4 ml-auto mr-3 px-2" %>
  </div>

  <!--記事内容部分-->
  <div class="row mx-3 border rounded shadow-sm css-bg-white">
    <div class="col-md-7 px-3 py-3">
      <%= @post.body %>
      <p class="mb-0 css-position-bottom">
        <%= @post.exercise_intensity %> x <%= @post.exercise_time %>分
      </p>
    </div>
    <div class="col-md-5 px-3 py-3">
      <%= attachment_image_tag @post, :post_image, format: "jpeg", class: "img-fluid rounded" %>
    </div>
  </div>

  <!--いいね・ブックマーク・編集・削除-->
  <div class="row my-1 pl-5">
    <div class="mr-3">
      <% if @post.liked_by?(current_user) %>
        <%= link_to post_likes_path(@post), method: :delete, class: "text-dark" do %>
          ♥<%= @post.likes.count %>いいね
        <% end %>
      <% else %>
        <%= link_to post_likes_path(@post), method: :create, class: "text-dark" do %>
          ♡<%= @post.likes.count %>いいね
        <% end %>
      <% end %>
    </div>
    <div>
      <% if @post.bookmarked_by?(current_user) %>
        <%= link_to "ブックマークを外す", post_bookmarks_path(@post), method: :delete, class: "text-dark" %>
      <% else %>
        <%= link_to "ブックマーク", post_bookmarks_path(@post), method: :create, class: "text-dark" %>
      <% end %>
    </div>
    <% if @post.user_id == current_user.id %>
      <div class="ml-auto">
        <%= link_to "編集", edit_post_path(@post), class: "btn btn-info px-3 py-1" %>
      </div>
      <div class="ml-3 mr-5">
        <%= link_to "削除", post_path(@post), method: :delete, class: "btn btn-info px-3 py-1" %>
      </div>
    <% end %>
  </div>

  <!--コメント投稿-->
  <%= form_with model:[@post,@comment], local:true do |f| %>
    <div class="row">
      <%= f.text_area :body, placeholder: "コメント", size: "65x3", class: "ml-auto mr-4 mt-4 shadow-sm css-bg-white rounded border border-1" %>
    </div>
    <div class="row my-3">
      <%= f.submit "コメント", class: "btn btn-success px-3 py-1 mx-auto" %>
    </div>
  <% end %>

  <!--コメント一覧-->
  <% @post.comments.each do |comment| %>
    <div class="row">
      <!--ユーザーリンク分岐-->
      <% if comment.user == current_user %>
        <%= link_to my_page_users_path, class: "css-text-decolate text-dark" do %>
          <%= attachment_image_tag comment.user, :image, :fill, 50, 50, format: 'jpeg', fallback: "no_image.jpg", size: "50x50", class: "rounded-circle text-nowrap py-0" %>
          <fong size=3, class="ml-3 mt-3"><%= comment.user.name %></font>
        <% end %>
      <% else %>
        <%= link_to user_path(comment.user), class: "css-text-decolate text-dark" do %>
          <%= attachment_image_tag comment.user, :image, :fill, 50, 50, format: 'jpeg', fallback: "no_image.jpg", size: "50x50", class: "rounded-circle text-nowrap py-0" %>
          <fong size=3, class="ml-3 mt-3"><%= comment.user.name %></font>
        <% end %>
      <% end %>

      <% if comment.user == current_user %>
        <%= link_to "削除", post_comment_path(comment.post, comment),method: :delete, class: "btn btn-danger my-2 py-1 ml-auto px-2" %>
      <% end %>
    </div>
    <div class="row border rounded mb-3 py-2 px-2 shadow-sm css-bg-white rounded">
      <%= comment.body %>
    </div>
  <% end %>

</div>