<div class="container">
  <!--ユーザー部分-->
  <div class="row mt-3 mx-3">
    <%= attachment_image_tag @post.user, :image, :fill, 70, 70, format: 'jpeg', fallback: "no_image.jpg", size: "70x70", class: "rounded-circle text-nowrap py-0" %>
    <font size="6" class="mt-2 ml-3"><%= @post.user.name %></font>
    <!--[修正予定]ボタンではなくジャンルの一覧を表示するlink_toに変更予定-->
    <div class="btn btn-danger my-4 ml-auto mr-3 px-2"><%= @post.genre %></div>
  </div>

  <!--記事内容部分-->
  <div class="row mx-3 border rounded">
    <div class="col-md-7 px-3 py-3">
      <%= @post.body %>
      <p class="mb-0 css-position-bottom">
        <%= @post.exercise_intensity %> x <%= @post.exercise_time %>分
      </p>
    </div>
    <div class="col-md-5 px-3 py-3">
      <%= attachment_image_tag @post, :post_image, format: "jpeg", class: "img-fluid rounded" %>
    </div>
  </div>

  <!--いいね・ブックマーク・編集・削除-->
  <div class="row my-1 pl-5">
    <div class="mr-3">
      <% if @post.liked_by?(current_user) %>
        <%= link_to post_likes_path(@post), method: :delete, class: "text-dark" do %>
          ♥<%= @post.likes.count %>いいね
        <% end %>
      <% else %>
        <%= link_to post_likes_path(@post), method: :create, class: "text-dark" do %>
          ♡<%= @post.likes.count %>いいね
        <% end %>
      <% end %>
    </div>
    <div>
      <% if @post.bookmarked_by?(current_user) %>
        <%= link_to "ブックマークを外す", post_bookmarks_path(@post), method: :delete, class: "text-dark" %>
      <% else %>
        <%= link_to "ブックマーク", post_bookmarks_path(@post), method: :create, class: "text-dark" %>
      <% end %>
    </div>
    <% if @post.user_id == current_user.id %>
      <div class="ml-auto">
        <%= link_to "編集", edit_post_path(@post), class: "btn btn-info px-3 py-1" %>
      </div>
      <div class="ml-3 mr-5">
        <%= link_to "削除", post_path(@post), method: :delete, class: "btn btn-info px-3 py-1" %>
      </div>
    <% end %>
  </div>
</div>